{% extends 'base.html' %} {% block body %}
<!-- <h1>Hello, world!</h1> -->
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="row gx-5">
        <div class="col-12">
          <img
            class="img-fluid rounded"
            src="{% static 'homepage/images/avatar.png' %}"
            alt="not succeeded"
          />
        </div>
        <div class="col-12">
          <div class="h3 text-center">Hello there {{ text }}</div>
        </div>
        <div class="col-12">
          <div class="row g-5">
            <div class="col">
              <a href="/mood/sad" class = "btn btn-outline-primary">{{ first_btn }}</a>
              </button>
            </div>
            <div class="col">
              <div class="btn btn-outline-primary btn-block">I'm sad</div>
            </div>
            <div class="col">
              <div class="btn btn-outline-primary btn-block">I'm sad</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      {% if user.is_authenticated %} Hi {{ user.username }}!
      <p><a href="{% url 'logout' %}">Log Out</a></p>
      {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock body %}
