{% extends 'base.html' %} {% block body %}
<!-- <h1>Hello, world!</h1> -->
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="row gx-5">
        <div class="col-12">
          <img
            class="img-fluid rounded"
            src="{% static 'homepage/images/homepagecat.jpg' %}"
            alt="not succeeded"
          />
        </div>
        <div class="col-12">
          <div class="h3 text-center">{{ text }}</div>
        </div>
        <div class="col-12">
          <form method="POST" action="/">
            {% csrf_token %}
            <div class="form-group">
              <input
                autocomplete="off"
                autofocus
                type="text"
                class="form-control"
                placeholder="Enter text here"
                name="inp"
              />
            </div>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
    <div class="col-3">
      {% if user.is_authenticated %} Hi {{ user.username }}!
      <p><a href="{% url 'logout' %}">Log Out</a></p>
      {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock body %}
